<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>

  {% block main_page %} {% endblock %}
  {% block user_form %} {% endblock %}
  {% block user_detail %} {% endblock %}
  {% block edit_user %} {% endblock %}
  {% block new_post %} {% endblock %}
  {% block post_detail %} {% endblock %}
</body>

</html>