{% extends 'base.html' %}

{% block edit_user %}
<div class="container">
  <h1>Edit User Information</h1>
  <form action="/users/{{ id }}/edit" method="post">
      <p>First name</p><input type="text" name='first_name' value={{first_name}}>
      <p>Last name</p><input type="text" name='last_name' value={{last_name}}>
      <p>Image URL</p><input type="text" name='image_url' value={{image_url}}>
      <br>
      <button class="btn btn-primary" type="submit">Submit</button>  
    </form>
    <form action="/">

      <button class="btn btn-danger" type="submit">Cancel</button>
    </form>

</div>
{% endblock %}