{% extends 'base.html' %}

{% block user_detail %}

<div class="container">
  <div class="card" style="width: 15rem; height: 15rem; border: None">
    <img src="{{ user.image_url }}" class="card-img-top">
    <div class="card-body">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <a href="{{ user.id }}/edit"><button class="btn btn-success">Edit</button></a>
      <a href="{{ user.id }}/delete"><button class="btn btn-danger">Cancel</button></a>
    </div>
  </div>
</div>

{% endblock %}