{% extends 'base.html' %}

{% block user_detail %}

<div class="container">
  <div class="card" style="width: 15rem; height: 15rem; border: None">
    <img src="{{ user.image_url }}" class="card-img-top">
    <div class="card-body">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <a href="{{ user.id }}/edit"><button class="btn btn-success">Edit</button></a>
      <form method="post" action="{{ user.id }}/delete">
        <button class="btn btn-danger">Delete</button>
      </form>

      <h3>Posts</h3>
       
        <ul class="list-group">
          {% for post in posts %}
          <li class="list-group-item">
            <a href="/posts/{{post.id}}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
        

      <a href="/users/{{user.id}}/posts/new"><button class="btn btn-primary">Add Post</button></a>
    </div>
  </div>
</div>

{% endblock %}